.navbar-default .navbar-brand{
    color: black;
}

body{
    background: url(../image/techl.jpg)
    no-repeat center center fixed  ;
    background-size: cover;
    background-position: center;
    font-family: catamaran;

}

.center{
    text-align: center;
    padding-top: 7%;
}

h1,p{
    color: white;
    
}

.fa-twitter{
    color: white;
    
}

.fa-linkedin-square{
    color: white;
}

.fa-twitter:hover {
    color: #00adb5;
}

.fa-linkedin-square:hover{
     color: #00adb5;
}